.full-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
  gap: 20px;
  padding: 20px;
}

.biggest-element {
  display: flex;
  gap: 10px;
  flex: 1; /* Ensure elements share equal space */
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(255, 240, 240); /* Light red background */
  border: 1px solid #ffcccc;
}

.one-line-status {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(255, 240, 240); /* Light red background */
  border: 1px solid #ffcccc;
  flex: 1; /* Ensure elements share equal space */
}

.status {
  width: 100%;
}

.name-and-timestamp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.activity-name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.divider {
  border-top: 1px solid #ffcccc;
  width: 100%;
  margin-bottom: 5px;
}

.redicon {
  width: 20px;
  height: 20px;
}

.small-element-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-weight: 700;
}

.timestamp {
  color: #999;
  font-size: 14px;
}
