.full-page {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
  grid-template-rows: repeat(3, auto);
  padding: 10px;

  .green {
  }

  .red {
    border: 1px solid #ffcccc;
    background-color: rgb(255, 240, 240);
  }

  .two-small-elements {
    margin-top: 10px;
    display: flex;

    .one-line-status {
      display: flex;
      grid-column: span 2;
      gap: 10px;
      padding: 20px;
      border-radius: 12px;

      .redicon {
        width: 20px;
        height: 20px;
      }

      .small-element-info {
        display: flex;
        justify-content: space-between;
        /* margin-bottom: 5px; */

        .name {
          display: flex;
          font-weight: 700;
        }

        .timestamp {
          display: flex;
        }
      }
    }
  }

  .two-biggest {
    display: flex;
    grid-column: span 2;
    gap: 10px;
    /* justify-content: space-between; */
    /* width: 100%; */

    .biggest-element {
      display: flex;
      flex: 1;
      /* flex-grow: 1; */
      gap: 10px;
      padding: 20px;
      /* border: 1px solid #ffcccc; */
      border-radius: 12px;
      /* background-color: rgb(255, 240, 240); */

      .status {
        width: 100%;

        .name-and-timestamp {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;

          .name {
            display: flex;
            font-weight: 700;
          }

          .timestamp {
            display: flex;
          }
        }

        .activity-name {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 700;
        }

        .divider {
          border-top: 1px solid #ffcccc;
          width: 100%;
          margin-bottom: 5px;
          /* padding-top: 5px; */
          /* padding-bottom: 5px; */
        }
      }

      .redicon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
